.env
.env.*
!.env.example
.git
.github
.local
.phpunit.result.cache
vendor
node_modules
storage/*.key
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
tests
storage/app
bootstrap/cache
dist
backups
*.sql
*.sql.gz
*.dump
